.wrap {
    width:100vh;
    margin: auto;
}

.form {
    height: 100vh;
    padding: 1vw;
    border: 1px solid pink;
    border-radius: 10px;
}

.header {
    font-size: 5vh;
    text-align: center;
    width: 100vh;
    text-align:center;
    margin: auto;
    background-color: pink;
}

.footer {
    font-size: 3vw;
    text-align: center;
    width: 100vh;
    margin: auto;
    background-color: pink;
}

.text-box {
    position: fixed;
    bottom: 8vw;
    background-color: #ffb6c17a;
    padding: 2vw;
    border-radius: 10px;
}

.coment-box {
    width: 75vh;
    height: 5vw;
    border: 1px solid pink;
    border-radius: 10px
}

.route-in {
    display: block;
    height: 5vh;
    width: 35vh;
    border-radius: 5px; 
    margin: 0 auto;
}

.route-button {
    width: 35vh;
    height: 5vw;
    border-radius: 5px;
    background-color: lightgreen
}

.route-form {
    font-size: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffb6c17a;
    width: 70vh;
    margin: 5vw auto;
    padding: 5vw;
    height: 75vh;
    border-radius: 5px;
    text-align: center;
}

.route-inner {
    padding: 5vw;
    border: 5px solid white;
    border-radius: 10px;
    height: 60vw;
    width: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.profile {
    font-size: 3vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffb6c17a;
    margin:5vw auto;
    height: 75vh;
    border-radius: 5px;
    text-align: center;
}

.user-image {
    display: block;
    margin-top: 10vh;
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    border-radius: 100%;
    background-color: gray;
}

.profile-form {
    height: 100vh;
    padding: 1vw;
    border: 1px solid pink;
    border-radius: 10px;
}

.profile-text {
    position: fixed;
    bottom: 8vw;
    background-color: #ffb6c17a;
    padding: 2vw;
    border-radius: 10px;
}

.profile-coment {
        width: 75vh;
        height: 5vw;
        border: 1px solid pink;
        border-radius: 10px
}